<%= flash[:notice] %>

<h1>Users#show</h1>

<h3>Hello <%= @user.username %></h3>

<%= link_to 'Log Out', session_path, method: :delete %>

<div>
  <h4>Created Events: <%= @user.created_events.count %></h4>
  <% if @user.created_events.any? %>
  <ul>
    <% @user.created_events.each do |evt| %>
    <li><%= link_to evt.name, event_path(evt) %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <h4>Attended Events: <%= @user.appointed_events.past.count %></h4>
  <% if @user.appointed_events.past.any? %>
  <ul>
    <% @user.appointed_events.past.each do |evt| %>
    <li><%= evt.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <h4>Upcoming Events: <%= @user.appointed_events.upcoming.count %></h4>
  <% if @user.appointed_events.upcoming.any? %>
  <ul>
    <% @user.appointed_events.upcoming.each do |evt| %>
    <li><%= evt.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>